@model IEnumerable<DnevnikPrehrane.Models.Biljeska>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.IsInRole("USER"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tekst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            @if (User.IsInRole("USER"))
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tekst)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                @if (!User.IsInRole("USER"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.User.UserName)
                    </td>
                }
                @if (User.IsInRole("USER"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.BiljeskaId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.BiljeskaId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.BiljeskaId">Delete</a>
                    </td>
                }
                else
                {
                    <td><a asp-action="Details" asp-route-id="@item.BiljeskaId">Details</a></td>
                }
                
        </tr>
}
    </tbody>
</table>
