@model DnevnikPrehrane.Models.Obrok

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Obrok</h4>
    <hr />
    <dl class="row">
        @if (!User.IsInRole("USER"))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.UserName)
            </dd>
        }
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImeNamirnice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImeNamirnice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Količina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Količina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kalorije)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kalorije)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Protein)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Protein)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ugljikohidrati)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ugljikohidrati)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Masti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Masti)
        </dd>

    </dl>
</div>
@if (User.IsInRole("USER"))
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.ObrokId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
}
else
{
    <div>
        <a asp-action="Index" asp-route-userId="Model.UserId">Back to List</a>
    </div>
}


